    body {
    background-color: rgb(120, 192, 216);
    margin: 0;
    padding: 0;
    display: block;
  }
    
    h1 {
      color: rgb(46, 98, 133);
      text-align: center;
      margin: 0px;
      font-size: 40px;
      padding: 20px;
      font-family: sans-serif;
    }

    main {
      max-width: 1000px;
      margin: auto;
    }
    
    .wallpaper {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    
    .aboutmeh2 {
      margin: 10px;
      padding: 10px;
      font-style: oblique;
      font-family: sans-serif;
      color: darkslategrey;
      display: block;
    }


    .aboutmeh3 {
      margin: 10px;
      padding: 10px;
      font-style: oblique;
      font-family: sans-serif;
      color: darkblue;
    }

    .aboutmep {
      margin: 10px;
      padding: 10px;
      font-family: sans-serif;
    }
    .cosplay h2 {
      margin: 10px;
      padding: 10px;
      font-style: oblique;
      font-family: sans-serif;
      color: darkblue;
      display: inline-block;
    }

    .contact {
      margin: 30px 20px;
      color: rgb(28, 28, 90);
      background-color: rgb(42, 175, 42);
      font-family: sans-serif;
      display: inline-block;
      padding: 10px;
      border-radius: 5%;
    }

    .links {
      font-family: sans-serif;
      text-decoration: none;

    }

    .homepagebody {
      padding: 0;
      margin: 0;
    }
  

    .link0 {
      text-decoration: none;
      font-size: 20px;
      padding: 10px;
      font-family: sans-serif;
      margin: 10px;
      display: inline-block;
    }

    .link1 {
      text-decoration: none;
      font-size: 20px;
      color: forestgreen;
      font-weight: bold;
      padding: 20px;
      height: 200px;
      position: absolute;
      top: 150px;
      left: 200px;
      font-family: sans-serif;
      }

  .link2 {
    text-decoration: none;
    font-size: 20px;
    color: forestgreen;
    font-weight: bold;
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 1350px;
    font-family: sans-serif;
  }

  .link3 {
    text-decoration: none;
    font-size: 20px;
    color: forestgreen;
    font-weight: bold;
    padding: 20px;
    position: absolute;
    top: 1450px;
    left: 200px;
    font-family: sans-serif;
  }

  .link4 {
    text-decoration: none;
    font-size: 20px;
    color: forestgreen;
    font-weight: bold;
    padding: 20px;
    position: absolute;
    top: 1450px;
    left: 1350px;
    font-family: sans-serif;
  }

  .link5 {
    text-decoration: none;
    font-size: 16px;
    color: rgb(24, 17, 126);
    font-weight: bold;
    padding: 20px;
    position: absolute;
    left: 1000px;
    top: 1120px;
    font-family: sans-serif;
  }

  .moveme {
    width: 100%;
    height: 100%;
  }

  .khaleesiimg {
    height: 500px;
    width: 750px;
    margin: 20px;
    position: absolute;
    border-radius: 5%;
  }

  .khaleesip {
    font-size: 28px;
    max-height: 530px;
    max-width: 900px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(72, 63, 189);
    left: 800px;
    top: 330px;
    position: absolute;
    font-family: sans-serif;
    border-radius: 2%;
  }
  
  .ppgimg {
    height: 500px;
    width: 620px;
    margin: 20px;
    position: absolute;
    top: 750px;
    left: 50px;
    font-family: sans-serif;
    border-radius: 5%;
  }

  .ppgp {
    font-size: 28px;
    max-height: 420px;
    max-width: 900px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(34, 183, 233);
    position: absolute;
    left: 800px;
    top: 920px;
    font-family: sans-serif;
    border-radius: 2%;
  }

  .mercyimg {
    height: 650px;
    width: 700px;
    position: absolute;
    top: 1280px;
    margin: 20px;
    border-radius: 5%;
  }

  .mercyp {
    font-size: 28px;
    max-height: 500px;
    max-width: 900px;
    margin: 10px;
    background-color: rgb(226, 43, 165);
    left: 800px;
    top: 1500px;
    position: absolute;
    padding: 15px;
    font-family: sans-serif;
    border-radius: 2%;
  }

  .alllinks {
    display: block;
  }

  .aboutmeimg {
    max-width: 400px;
    padding: 10px;
    display: inline;
    border-radius: 5%;
    vertical-align: top;
  }

  .aboutpage {
    display: inline-block;
    max-width: 40%;
  }